@import '../variable.scss';

$WHITE: #ffffff;
$GRAY0: #ebebeb;
$GRAY1: #e6e6e6;
$GRAY2: #afafaf;
$GRAY3: #8b8b8b;
$GRAY4: #707070;
$GRAY5: #534f51;
$GRAY6: #3b3638;
$GRAY7: #2e292b;
$GRAY8: #212121;
$GRAY9: #000000;

/** 工具栏样式 */
$toolbarBg: $GRAY0;
$toolbarBtnColor: $GRAY8;
$toolbarBtnBgHover: $GRAY5;
$toolbarBtnHoverColor: $GRAY0;
$toolbarColorItemHoverBorderColor: $GRAY9;
$sidebarShadow: 0 0 10px $GRAY2;
/** 编辑区域样式 */
$editorBg: $WHITE;
/** 预览区域样式 */
$previewBg: $WHITE;
$previewMobileBgColor: $editorBg;
/** markdown样式 */
$mdColor: $editorColor;
$mdHeaderColor: $editorImportantColor;
$mdLineColor: $GRAY8;
$mdAColor: $editorCodeColor;
$mdAHoverColor: $editorImportantColor;
$mdInlineCodeColor: $editorCodeColor;
$mdInlineCodeBg: $GRAY1;
$mdBlockquoteBg: $GRAY1;

/** 编辑器样式 */
.cherry.theme__essay {
  
  /** 顶部按钮, 选中文字时弹出的按钮, 光标focus到空行时联想出的按钮, 侧边栏按钮 */
  .cherry-toolbar, .cherry-floatmenu, .cherry-bubble, .cherry-sidebar {
    background: $toolbarBg;
    border-color: $toolbarBg;
    .cherry-toolbar-button {
      color: $toolbarBtnColor;
      i {
        color: $toolbarBtnColor;
      }
      &:hover {
        background-color: $toolbarBtnBgHover;
        color: $toolbarBtnHoverColor !important;
        border-color: $toolbarBg;
        i {
          color: $toolbarBtnHoverColor !important;
        }
      }
    }
  }
  .cherry-toolbar{
    border: {
      bottom: 2px solid $GRAY2;
    }
  }
  
  /** 二级菜单 */
  .cherry-dropdown {
    background: $toolbarBg;
    .cherry-dropdown-item {
      color: $toolbarBtnColor;
      &:hover {
        background-color: $toolbarBtnBgHover;
        color: $toolbarBtnHoverColor;
      }
    }
    /** 选择颜色的按钮 */
    &.cherry-color-wrap {
      /** 色盘的标题 */
      h3 {
        color: $toolbarBtnColor;
      }
      /** 色盘里的每一个色块 */
      .cherry-color-item {
        // width: 15px;
        // border: none;
        border-color: $toolbarBtnBgHover;
        &:hover {
          border-color: $toolbarColorItemHoverBorderColor;
        }
      }
    }
  }

  /** 选中文字时弹出的按钮 */
  .cherry-bubble {
    .cherry-bubble-bottom {
      border-top-color: $toolbarBg;
    }
    /** 粘贴HTML内容时弹出的选择按钮 */
    &.cherry-switch-paste {
      
    }
  }

  .cherry-editor {
    background-color: $editorBg;
    .CodeMirror {
      background-color: $editorBg;
    }
    border: {
      right: 2px solid $GRAY2;
    }
  }

  .cherry-sidebar {
    box-shadow: $sidebarShadow;
  }

  .cherry-previewer {
    background-color: $previewBg;
    .cherry-mobile-previewer-content {
      background-color: $previewMobileBgColor;
    }
  }

  .cherry-previewer-table-content-hander {
    .cherry-previewer-table-content-hander__input {
      textarea {
        background-color: $editorBg;
        color: $editorColor;
        outline-color: $editorImportantColor;
      }
    }
  }

}

/** 预览区域样式 */
.cherry-markdown.theme__essay {
  counter-reset: write-1 write-2 write-3 write-4;
  font-family:宋体;
  font-size:12pt;
  max-width: 21cm; /*A4标准宽度*/
  text-align: justify;


  p,
  div {
    font-family: 宋体;
    font-size: 12pt;
    max-width: 21cm;
    /*A4标准宽度*/
    text-indent: 50px;
  }

  h1 {
    text-align: center;
    font-size: 18pt;
  }

  h2 {
    font-family: 仿宋;
    text-align: center;
    font-size: 16pt;
  }

  h3 {
    font-family: 黑体;
    font-size: 14pt;
  }

  h4 {
    text-align: center;
    font-family: 楷体;
    font-size: 14pt;
  }

  h1 {
    counter-set: write-2;
    counter-increment: write-1;
    &::before {
      //content:counter(write-1)". ";
    }
  }
  h2{
    counter-set: write-3;
    counter-increment: write-2;
    &::before {
      //content:counter(write-1)"."counter(write-2)". ";
      content:counter(write-2)". ";
    }
  }
  h3{
    counter-set: write-4;
    counter-increment: write-3;
    &::before {
      //content:counter(write-1)"."counter(write-2)"."counter(write-3)". ";
      content:counter(write-2)"."counter(write-3)". ";
    }
  }
  h4{
    counter-increment: write-4;
    &::before {
      //content:counter(write-1)"."counter(write-2)"."counter(write-3)"."counter(write-4)". ";
      content:counter(write-2)"."counter(write-3)"."counter(write-4)". ";
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /** 标题前面的锚点或序号 */
    font-weight: bold;

    .anchor {
      display: none;
    }
    
  }

  ul {
    &.cherry-list__upper-roman {
      list-style: upper-roman;
    }

    &.cherry-list__lower-greek {
      list-style: lower-greek;
    }

    &.cherry-list__cjk-ideographic {
      list-style: cjk-ideographic;
    }

    &.cherry-list__circle {
      list-style: circle;
    }

    &.cherry-list__square {
      list-style: square;
    }

    &.cherry-list__default {}

    /** checklist 模式，未勾选时 */
    .ch-icon-square {}

    /** checklist 模式，勾选时 */
    .ch-icon-check {}
  }

  ol {
    li {}
  }


  blockquote {
    font-family: 楷体;
    padding-left: 10px;
    // color: $mdColor;
  }

  a {
    text-decoration: none;

    &:hover {
    }
  }

  strong {}

  em {}

  del {}

  sup {}

  sub {}

  hr {}

  img {}

  video {}

  audio {}

  /** 行内代码 */
  p code,
  p code span,
  li code,
  li code span{
    color: rgb(0, 0, 0);
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  }

  /** 
  * 代码块
  */
  pre code,
  pre code span {
    //color: rgb(0, 0, 0);
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  }

  /** 
  * 表格
  */
  table,
  .cherry-table {
    // color: $mdColor;
    border-top: 1.5pt solid;
	  border-bottom: 1.5pt solid;
	  font-family:宋体;
	  font-size:10.5pt;
	  text-align:center;
    page-break-inside:avoid!important;

    thead {
      border-bottom: 1pt solid;
	    font-family:黑体;
	    font-size:10.5pt;
    }

    th{
      border: none;
      background-color:white;
    }

    td {
      border: none;
      padding:2px;
    }
  }

  /** 可以理解为上下结构的音标，下部是文字，上部是对应的拼音 */
  ruby {

    /** 上部的拼音 */
    rt {}
  }

  /** 脚注 */
  .footnote {
    background-color: transparent;
    font-family:宋体;
    font-size:10.5pt !important;
    color: black;     
    margin-top: 0;
    .footnote-title {
      display:none;
    }

    .one-footnote {
      background-color:transparent;

      a.footnote-ref {
        padding: 1px;
      }
    }
  }

  /** 行间公式 */
  .Cherry-InlineMath {}

  /** 段落公式 */
  .Cherry-Math {}

  /** 目录 */
  .toc {
    // border: 1px solid $mdLineColor;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    counter-reset: toc-level-1 toc-level-2 toc-level-3 toc-level-4;
    /*修复缺失上级标题时无法递增*/
    // margin-left: 8em;

    .toc-title {
      // padding: 15px;
      // margin-bottom: 15px;
      // border-bottom: 1px solid $mdLineColor;
      font-family: 仿宋;
      text-align: center;
      font-size: 18pt;
      display: inline-block;
      font-weight: bold;
      width: 100%;
    }

    .toc-li {
      border: none;
      padding: 0 20px;

      .level-1 {
        display: none;
        font-family: 宋体;
        font-weight: bold;
      }

      .level-2 {
        font-family: 宋体;
      }

      .level-3 {
        font-family: 宋体;
      }

      .level-4 {
        font-family: 仿宋;
      }

      a {

        &:hover {

        }
      }
    }
  }




  figure {
    svg {

      path,
      rect,
      line {

      }

      text {

        stroke: none !important;
      }

      tspan {

      }

      circle {
        fill: rgb(236, 236, 255) !important;

        &.state-start {

        }
      }
    }
  }

}

/** 目录序号 */
.cherry-markdown.theme__essay .toc .toc-li .level-1 {
  counter-set: toc-level-2; // 这里要重置下一级标题的序号！
}

.cherry-markdown.theme__essay .toc .toc-li .level-2 {
  counter-set: toc-level-3;
}

.cherry-markdown.theme__essay .toc .toc-li .level-3 {
  counter-set: toc-level-4;
}

.cherry-markdown.theme__essay .toc .toc-li .level-4 {
  //display: none;
}

.cherry-markdown.theme__essay .toc .toc-li .level-5 {
  //display: none;
}

.cherry-markdown.theme__essay .toc .toc-li .level-1:before {
  counter-increment: toc-level-1;
  //content: counter(toc-level-1)"\00A0";
}

.cherry-markdown.theme__essay .toc .toc-li .level-2:before {
  counter-increment: toc-level-2;
  content: counter(toc-level-2)"\00A0";
  //content: counter(toc-level-1)"."counter(toc-level-2)"\00A0";
}

.cherry-markdown.theme__essay .toc .toc-li .level-3:before {
  counter-increment: toc-level-3;
  content: counter(toc-level-2)"."counter(toc-level-3)"\00A0";
  //content: counter(toc-level-1)"."counter(toc-level-2)"."counter(toc-level-3)"\00A0";
}

.cherry-markdown.theme__essay .toc .toc-li .level-4:before {
  counter-increment: toc-level-4;
  content: counter(toc-level-2)"."counter(toc-level-3)"."counter(toc-level-4)"\00A0";
  //content: counter(toc-level-1)"."counter(toc-level-2)"."counter(toc-level-3)"."counter(toc-level-4)" ";
}

.cherry-table-container {
  display: flex;
  justify-content: center;
}
.cherry-table-container table {
  width: 100%;
  max-width: 800px; /* 可根据需要调整 */
}

[class*=language-] {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 10pt;
  padding: 5pt;
}

